body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #f2f2f2;
}
.chat-container {
    position: fixed;
    bottom: 10px;
    right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    width: 300px;
    height: 400px;
    display: none;
}
.chat-header {
    background-color: #2f78eb;
    color: white;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.chat-header-text {
    flex-grow: 1;
    text-align: center;
}
.chat-header-minimize {
    font-size: 20px;
    font-weight: bold;
    padding: 0 10px;
    cursor: pointer;
}
.chat-header-close {
    font-size: 20px;
    font-weight: bold;
    padding: 0 10px;
    cursor: pointer;
}
.chat-body {
    height: 300px;
    overflow-y: scroll;
    padding: 10px;
    background-color: white;
}
.chat-message {
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    max-width: 70%;
}
.chat-message.sender {
    background-color: #2f78eb;
    color: white;
    align-self: flex-end;
    margin-left: 30%;
    text-align: right;
}
.chat-message.receiver {
    background-color: #ccc;
    align-self: flex-start;
    margin-right: 30%;
    text-align: left;
}
.chat-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}
.chat-input {
    flex-grow: 1;
    margin-right: 10px;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #ccc;
}
.chat-send {
    background-color: #2f78eb;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}
.chat-bubble {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #2f78eb;
    color: white;
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
}